@media screen and (orientation: landscape){
  .header{
    display: flex;
    justify-content: space-between;
  }
  
  .bi-justify{
    display: none;
  }
  .main{
    display:flex ;
    
  }
  /*Education */
  .education{
    margin-left: 700px;
    
  }
  .education-section{
     margin-top: 100px;
     
}
  .education-div{
  display: flex;
}
.education-card{
  width: 450px;
}
/*Skill */
.skill{
  display: flex;
  justify-content: space-between;
  
}
.my-skills{
   margin-left: 700px; 
}
/* tools */
.tools{
  color: white;
  display: flex;
  justify-content: space-around;
 }
 /* footer */
 .footer-header{
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  border-bottom: 5px solid rgb(151, 151, 239);
  margin-left: 700px;
}
 .footer{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 50px;
}
.contact{
  margin-left: 20px;
}
.message{
  margin-bottom: 100px;
}
.send-message{
  width: 700px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(76, 76, 199);
  color: white;
  font-size: 17px;
  font-weight: bold;
}
}

@media screen and (orientation: portrait) {
  header{
    display: flex;
    justify-content: space-between;
  }
  .home,.social-media{
    display: none;
  }
  .bi-justify{
    display: inline;
  }
  .main{
    display:block ;
    
  }
  .my_name{
  color: red;
  }
  /*Education */
  .education{
    margin-left: 80px;
    
  }
  .education-section{
    margin-top: 250px;
  }
  .education-div{
  display: block;
}
.education-card{
  margin-top: 20px;
  width: 350px;
  margin-left: 20px;
}
/*Skill */
.skill{
  width: 100px;
 
  
}
.my-skills{
   margin-left: 100px; 
}
/* tools */
.tools{
  color: white;
  display: block;
  margin-left: 80px;
  
 }
 .tools-card{
  margin-bottom: 20px;
 }
/* footer */
 .footer-header{
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  border-bottom: 5px solid rgb(151, 151, 239);
  margin-left: 100px;
 }
 .footer{
  display: block;
  
  color: white;
  margin-top: 50px;
}
.contact{
  margin-left: 20px;
}
.message{
  margin-top: 50px;
  margin-left: 50p;
}
.send-message{
  width: 300px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(76, 76, 199);
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 50px;
}
}


/* header */
.container-fluid{
    background-color: rgb(19, 24, 50);
    
}
a{
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  font-size: 20px;
  color: white;
  padding: 10px;
  font-family: arial;
  position: fixed;
  margin-left: -13px;
 background: linear-gradient(90deg,rgba(2, 0, 36, 0.9) 0%, rgba(9, 9, 121, 0.9) 55%, rgba(0, 212, 255, 0.9) 100%);
 z-index: 2;
}
.name {
  font-size: 35px;
  font-family: times new roman;
  font-weight: bold;
  background: linear-gradient(90deg,#0ea5e9,#7e22ce);
  background-clip: text;
  color: transparent;
}
.home {
  padding: 10px;
  margin-left: 150px;
}
.home-span:hover{
 
  border-bottom: 3px solid rgb(90, 90, 176);
}
.home span {
  margin-left: 20px;
}
.social-media a,.bi-justify{
  margin-right: 20px;
  margin-top: 20px;
  color:darkblue;
}

.social-media {
  margin-top: 10px;
  
}
/* main section */
.main {
  padding-top: 200px;
  height: 100vh;
  justify-content: space-between;
}
.my_details{
    margin-left: 20px;
    color: white;
}
.name2{
    font-size: 60px;
    font-family: sans-serif ;
    font-weight: bold
}
.my_name{
    background: linear-gradient(90deg,#0ea5e9,#7e22ce);
    background-clip: text;
    color: transparent;
    
}
.designation{
    font-size: 30px;
}
.para{
    margin-top: 20px;
    font-family: arial;
    color: rgb(177, 169, 169);
}
.btn{
    margin-top: 40px;
    
}
.btn-primary{
background: linear-gradient(90deg,rgba(14, 165, 233, 1) 0%, rgba(126, 34, 206, 1) 82%);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    color: white;
    margin-left: -20px;
     width: 150px;
}
.btn-dark{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    color: rgb(157, 157, 249); 
    border: 1px solid rgb(129, 146, 231);
    width: 150px;
}
.social-media2{
    margin-top: 50px;
}

.social-media2-span{
    font-size: 20px;
    padding: 10px;
    background-color: black;
    border-radius: 120px;
    align-content: center;
    text-align: center;
   
}
.profile-pic {
  margin-right: 200px;
  border-radius: 200px;
  width: 350px;
  height: 370px;
  position: relative;
  animation: moveUpDown 3s infinite ease-in-out;
  border: 2px solid rgb(19, 24, 50);
  z-index: 1;
}
 @keyframes moveUpDown {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px); /* Move up */
      }
    }
a {
  text-decoration: none;
}
.my-work {
  margin-left: 70px;
  margin-top: 30px;
}
/*Education */


.education{
  background: linear-gradient(90deg,#0ea5e9,#7e22ce);
  background-clip: text;
  color: transparent;
  
  border-bottom: 5px solid rgb(132, 132, 240);
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
  width: 200px;
}
.education-card{
  background-color: rgb(30, 41, 59);
  
  height: 250px;
  border-radius: 10px;
  text-align: start;
  align-content: center;
  color: white;
  padding-left: 40px;
 
}
.education-card:hover {
   box-shadow:8px 8px  20px rgba(81, 72, 197, 0.3);

    }
.year{
  background: linear-gradient(90deg,rgba(14, 165, 233, 1) 0%, rgba(126, 34, 206, 1) 52%);
  background-clip: text;
  color: transparent;
}
/* skill */
.skill-section{
  margin-top: 200px;
}
.my-skills{
  color: white;
 
  border-bottom: 5px solid rgb(132, 132, 240);
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
  
}
.skill-header{
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  
}
.skill{
  color: white;
  
  
  margin-top: 100px;
}
.percentage{
  display: flex;
  gap: 625px;
  margin-top: 20px;
 
}
.percentage2{
  display: flex;
  gap: 640px;
 margin-top: 20px;
}
.percentage3{
  display: flex;
  gap: 580px;
 margin-top: 20px;
}
.percentage4{
  display: flex;
  gap: 620px;
 margin-top: 20px;
}
.technical{
  color: white;
  
}
input{
  width: 730px;
  
}
/*Tools & Technologies */
 
 .tools-card{
  background-color: rgb(30, 41, 59);
  width: 220px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
 }
 .tools-card:hover{
  box-shadow: 5px 5px  20px rgba(46, 40, 121, 0.5);
 
 }
/* Footer */
footer{
  height: 100vh;
  margin-top: 200px;
}


.location{
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.contact-area{
  margin-top: 30px;
  
}
.logo{
  background-color: rgb(60, 60, 114);;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  color: rgb(102, 196, 233);
}
/* message form */
.input{
  width: 400px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(60, 60, 114);
}
textarea{
  border-radius: 10px;
  background-color: rgb(60, 60, 114);
}
